[flag]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
save_detect = True
show_detect = False
do_predict = True
wait_key = True
show_steps = True
train_mode = False

[sensor]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
depth_scale_params = [400, 600, 100, 60000]
bound_margin = 20
use_rgb = True
use_depth = True
depth_min = 600
depth_max = 800
crop_poly = [(284, 103), (1093, 102), (1093, 662), (286, 661)]
crop_rect = None
depth_size = (720, 1280)
rgb_size = (800, 1280)
vid_fps = 15.0
ws_depth = 300
center = (656.604, 379.6)
focal = (924.444, 923.571)
denoise_ksize = None
save_disp = False

[path]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
root_dir = /media/keti/workspace/data/pick/apps/random_picking/results
im_suffixes = */*/*images*/*rgb*
depth_suffixes = None

[disp]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
window_size = (800, 1200)
show_depth_jet = True
show_rgb_main = True
text_info_org = (50, 50)
text_scale = 0.8
text_thick = 2
text_color = (0, 0, 255)
text_rect = (0, 0, 100, 100)
text_alpha = 0.5
up2down = True
text_space = 30
line_thick = 2
line_color = (0, 255, 0)
marker_size = 10
marker_thick = 2
marker_color = (0, 255, 0)
bg_color = (0, 100, 0)
bg_depth_diff_thres = 5
roi_disp_size = (150, 150)
pad_size = (50, 50)

[conn]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
address = localhost
port = 8888

[save]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
aug_dirs = ['data/aug0']
extend = .png
compress_level = 0

[rotate]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
angles = [0, 30, 60, 120, 150]
reshape = True
order = 3
aug_angle_step = 45
random = True

[color]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
brightnesss = [0.3]
contrasts = [0.3]
saturations = [0.3]
hues = [0.2]
include_org = False

[flip]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
axes = [-1]

