[submodule "ROBOT/GRIPPER_SDK"]
	path = ROBOT/GRIPPER_SDK
	url = https://github.com/robot-plus-program/ketigrippersdk.git

[submodule "ROBOT/ROBOT_SDK"]
	path = ROBOT/ROBOT_SDK
	url = https://github.com/robot-plus-program/ketirobotsdk.git
	branch = poc-talos
