beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
contourpy==1.1.1
cycler==0.12.1
Cython==3.1.1
filelock==3.16.1
fonttools==4.57.0
gdown
idna==3.10
importlib_resources==6.4.5
kiwisolver==1.4.7
math3d==3.0.0
matplotlib==3.7.5
numpy==1.24.4
opencv-python==4.11.0.86
packaging==25.0
pillow==10.4.0
prompt_toolkit==3.0.51
pycairo
PyGObject
pymodbus==2.0.0
pyparsing==3.1.4
pyrealsense2==2.55.1.6486
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
requests==2.32.3
scipy
six==1.11.0
soupsieve==2.7
tk
tqdm==4.67.1
typing_extensions==4.13.2
urllib3==2.2.3
wcwidth==0.2.13
zipp==3.20.2
