<launch>
    <!-- <include file="$(find keti_robot_description)/launch/gazebo.launch" /> -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find keti_robot_description)/urdf.rviz" />
    <include file="$(find keti_robot_description)/launch/gazebo.launch" />

    <rosparam file="$(find keti_robot_description)/config/gazebo_control.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/keti_robot_RB10" args="joint_state_controller
                        q1_position_controller q2_position_controller q3_position_controller
                        q4_position_controller q5_position_controller q6_position_controller
                        s1_position_controller s2_position_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
</launch>