<launch>
    <arg name="robot_ip" default="192.168.137.101"/>
    <param name="robot_ip" type="string" value="$(arg robot_ip)" />
    <include file="$(find keti_tcp)/launch/tcp_vision.launch"/>
    <include file="$(find keti_gripper)/launch/gripper_onrobot.launch"/>
    <node pkg="keti_robot" type="robot_control" name="robot_control_node" output="screen" />
</launch>
